name: Python packaging for learning

on:
    push:
      branches: main
    pull_request:
      branches: main

jobs:
  build:

    runs-on: windows-latest

    steps:
      - name: Checkout code contents in the repository
        uses: actions/checkout@v4
